.contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactHeader {
  text-align: center;
  margin: 10px 0 15px;
  font-size: 25px;
}

.contactHeader h2 {
  margin: 0 0 -30px;
}

.contactHeader span {
  border-bottom: 5px solid #0096c7;
}

.content {
  padding: 100px;
  font-size: 20px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: blue;
}
